/*
Theme Name: Flat Bootstrap Developer
Theme URI: http://xtremelysocial.com/wordpress/developer/
Description: Developer child theme for Flat Bootstrap. Strips back code to core Bootstrap without any of the parent themes CSS except the bare minimum needed for WordPress. No extra javascript or fonts are loaded either.
Author: XtremelySocial
Author url: http://xtremelysocial.com
Version: 1.2
License: GNU General Public License
License URI: http://www.opensource.org/licenses/GPL-3.0
Template: flat-bootstrap
Template Version: 1.2
Tags: one-column, right-sidebar, left-sidebar, fluid-layout, responsive-layout, custom-header, custom-menu, featured-images, featured-image-header, full-width-template, flexible-header, theme-options, sticky-post, threaded-comments, light, translation-ready, rtl-language-support, custom-background
*/

/* To include the parent theme's stylesheet(s), uncomment the following line. */
/*@import url("../flat-bootstrap/style.css");*/

/* PUT YOUR CHANGED STYLES HERE 
 * 
 * The best way to do this is to copy in the relevant section from the parent's style.css
 * file, change what you want, and remove the lines that you didn't change.
*/

/* Make the buttons square. This is just an example, remove it if you want. */
.btn {
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}

/* Remove some padding from the content header since it doesn't have a colored background
 * now that we've removed our theme-flat.css. Remove this if you want that padding back.
 */
header.content-header, content-header {
	padding: 0;
	min-height: 0;
}

/* Remove the site name from the nav-bar. Since we haven't loaded the custom-header.php
 * which normally removes it when the site title and tagline are being displayed above
 * the navbar (which is the default).
 */
.navbar-brand {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
}

/* PUT ANY NEW STYLES TO USE IN YOUR CONTENT AREAS HERE SO YOU CAN EASILY PASTE THIS
 * SECTION IF YOU CHANGE THEMES
 */
